body {
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
    
}


.main-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10.2rem auto auto auto;
}

.logo{
    margin: auto auto 5.4rem auto;
   
}



.inner-card{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.116);
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    width: 920px;
    height: 480px;
    margin-bottom: 16rem;
}

.tip-amount{
    margin: 2rem 2rem 2rem 0;
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
    width: 470px;
    color: hsl(0, 0%, 100%);
    padding: 2.5rem;
}

.dollar-icon{
    margin-top: 1.4rem;
    margin-left: 1.2rem;
    position: absolute;
}

.tip-select{
    margin: 2.82rem 0 3rem 3rem;
    width: 500px;
}
.custom label {
    display: none;
}

#custom-input{
    margin: 1rem 0.8rem 0 0;
    border:none;
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    width: 117px;
    height: 48px;
    color: hsl(186, 14%, 43%);
    background-color: hsl(189, 41%, 97%);
}



#bill, #numbOfPeople{
    margin-top: 0.5rem;
    padding-right: 1rem;
    color: #9ebbbd;
    text-align: right;
    border: none;
    width: 377px;
    height: 47px;
    background-color: hsl(189, 41%, 97%);
    border-radius: 5px;
    font-size: 24px;
}

.billy label {
    color:  hsl(186, 14%, 43%);
}

#bill:hover, #numbOfPeople, #custom-input{
    cursor: pointer;
}

#bill:focus, #numbOfPeople:focus, #custom-input:focus{
    outline:  2px solid hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}



.group-options {
    display: flex;
    flex-wrap: wrap;
}

.options{
    padding-top: 0.4rem;
    margin: 1rem 0.8rem 0 0;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 24px;
    background-color: hsl(183, 100%, 15%);
    border-radius: 5px;
    width: 117px;
    height: 48px;
    border:none
}

.options:focus{
    background-color: hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
}

.options:hover{
    cursor: pointer;
    background-color: hsl(172, 100%, 80%);
    color:hsl(183, 100%, 15%);
}

.custom:hover{
    cursor: pointer;
}

.tip-title{
    color: hsl(186, 14%, 43%);
    margin-top: 2.5rem;
}

.number-people {
    margin-top: 2.5rem;
    color:hsl(186, 14%, 43%)
}

.person-icon{
    position: absolute;
    margin-top: 1.4rem;
    margin-left: 1rem;
}


.perPersone{
    margin-top: 0.05rem;
    font-size: 13px;
    color:hsl(184, 14%, 56%);
}

.tipPerPersone{
    margin-top: 1rem;
}

.totalPerPersone{
    margin-top: 3.25rem;
}

.tipAmountSummary {
    margin-top: 0.1rem;
    font-size: 46px;
    text-align: right;
    color:hsl(172, 67%, 45%);
}

.totalAmountSummary{
    margin-top: 1.8rem;
    font-size: 46px;
    text-align: right;
    color:hsl(172, 67%, 45%);
}

.reset-option {
    align-items: center;
    width: 100%;
    padding: 0.6rem 0 0.6rem 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 7.5rem;
    color:hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
    border-radius: 5px;
    border: none;
}

.active{
    background-color: hsl(172, 67%, 45%);
}

.reset-option:hover {
    cursor: pointer;
    background-color: hsl(172, 100%, 80%);
}