body {
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
    
}


.main-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10.2rem auto auto auto;
}

.logo{
    margin: auto auto 5.4rem auto;
   
}



.inner-card{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.116);
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    width: 920px;
    height: 480px;
}

.tip-amount{
    margin: 2rem 0 2rem;
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
    width: 550px;
}

.dollar-icon{
    margin-top: 1.2rem;
    margin-left: 1rem;
    position:absolute;
}

.tip-select{
    margin: 2.82rem 0 3rem 3rem;
    width: 500px;
}

#bill{
    margin-top: 0.5rem;
    padding-right: 1rem;
    color: hsl(184, 14%, 56%);
    text-align: right;
    border: none;
    width: 375px;
    height: 40px;
    background-color: hsl(189, 41%, 97%);
    border-radius: 4px;
    font-size: 24px;
}

.billy label {
    color:  hsl(186, 14%, 43%);
}

#bill:hover{
    cursor: pointer;
}

#bill:focus{
    outline:  2px solid hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}